* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'monsterat', sans-serif;
    text-decoration: none;
}

body {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to right, #b4d586, #baf857);
}

/* Login */

.background img {
    position: relative;
    width: 500px;
    height: 500px;
    object-fit: cover;
    animation: toRight 1.2s ease-in-out;
    right: 300px;
}

.background::after {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    left: 100px;
    z-index: -1;
    animation: popup 1.2s ease;
}

.container-login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.container-login {
    visibility: visible;
    right: 40px;
    position: absolute;
    display: flex;
    width: 500px;
    height: 550px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background: #ffffff;
    animation: toLeft 1.2s ease-in-out;
}

.header-login {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 15px;
}

.header-login img{
    width: 50px;
    height: 30px;
    object-fit: contain;
}

.form-login {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin-top: 15px;
    align-items: center;
}

.form-login h1 {
    margin-top: -40px;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 2rem;
}


.form-login input {
    width: 312px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    padding: 0 15px 0 15px;
    border: 1px solid #c3c3c3;
}

.form-login .password-input {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
}

.form-login .password-input input{
    padding: 0 35px 0 15px;
    width: 312px;
}

.form-login .password-input i {
    position: absolute;
    right: 15px;
    top: 12px;
    cursor: pointer;
}
.remember-forgot {
    margin-top: -5px;
    width: 312px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.remember-forgot a {
    color: #90D26D;
}

.remember-me {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #000;
}

.remember-me input[type="checkbox"] {
    margin-top: 20px;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.btn-login {
    margin-top: 15px;
    font-size: 1rem;
    width: 312px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #e5e5e5;
    background-color: #90D26D;
    background-image: linear-gradient(to right, #90D26D, #9BCF53);
    cursor: pointer;
}

.btn-login:hover {
    background-image: linear-gradient(to right, #9BCF53, #90D26D);
    border: 1px solid #90D26D;
}

.form-login .signup {
    margin-top: 20px;
}

.form-login .signup a {
    color: #90D26D;
}

.form-login #email:focus {
    border: 1px solid #90D26D;
}
.form-login #psw:focus {
    border: 1px solid #90D26D;
}
/* Animation */

@keyframes toRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes toLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes popup {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    30% {
        transform: scale(1.4);
    
        opacity: 0.6;
    }
    100% {

        opacity: 1;
    }
}


/* Sign up */
.container-signup {
    visibility: hidden;
    position: absolute;
    display: flex;
    width: 550px;
    height: 650px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background: #ffffff;
    animation: toLeft 1.2s ease-in-out;
    right: 40px;
}

.container-signup-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}



.header-signup {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 15px;
}

.header-signup img{
    width: 50px;
    height: 30px;
    object-fit: contain;
}

.form-signup {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    align-items: center;
    margin-top: 40px;
}

.form-signup h1 {
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 2rem;
}


.form-signup input {
    width: 312px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    padding: 0 15px 0 15px;
    border: 1px solid #c3c3c3;
}

.form-signup .password-input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form-signup .password-input input{
    width: 312px;
    padding: 0 35px 0 15px;
}

.form-signup .password-input i {
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer;
}

.btn-signup {
    margin-top: 15px;
    font-size: 1rem;
    width: 312px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #e5e5e5;
    background-color: #90D26D;
    background-image: linear-gradient(to right, #90D26D, #9BCF53);
    cursor: pointer;
}

.btn-signup:hover {
    background-image: linear-gradient(to right, #9BCF53, #90D26D);
    border: 1px solid #90D26D;
}

.form-signup .signup {
    margin-top: 20px;
}

.form-signup .signup a {
    color: #90D26D;
}

.term-policy {
    line-height: 1.5rem;
    margin-top: 20px;
    text-align: center;
}

.term-policy a{
    color: #90D26D;
}

.form-signup #name-signup:focus,
.form-signup #email-signup:focus,
.form-signup #psw-signup:focus,
.form-signup #psw-cf-signup:focus {
    border: 1px solid #90D26D;
}
/* Active login signup */
.container-login.active {
    visibility: visible;
}

.container-signup.active {
    visibility: visible;
}
